#BaseForm {
	padding: 50px;
	&.nop {
		padding: 0;
		.BaseForm {
			padding: 0;
		}
	}

	p {
		color: #ffffff;
		font-size: 16px;
	}
	.BaseForm {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		padding: 50px;
		&.auth {
			width: 560px;
			margin: 0 auto;
		}

		.logo {
			img {
				width: 150px;
				height: 100%;
			}
		}
		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			width: 100%;
			.input_block {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 30px;
			}
			.input_box {
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 15px;
				width: 400px;
			}
			.for_inps {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				gap: 100px;
			}
			.error {
				color: red;
				font-size: 14px;
			}
			.for_inp {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 4px;
				position: relative;
				width: 100%;
				.gender {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					gap: 30px;
					button {
						padding: 0;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 10px;
						&.active {
							span {
								background: white;
							}
						}
						span {
							border: 1px solid white;
							width: 16px;
							height: 16px;
							border-radius: 10px;
							transition: all 0.15s;
						}
					}
				}
				.tel-c {
					position: absolute;
					left: 0;
					height: 100%;
					bottom: 0;
					border-right: 1px solid rgba(164, 164, 164, 1);
					display: flex;
					align-items: center;
					padding: 0 15px;
				}
				.row {
					display: flex;
					position: relative;
					width: 100%;
				}

				label:not(.tel-c) {
					color: #fff;
					position: absolute;
					top: -10px;
					left: 14px;
					background-color: #0a1128;
					padding: 0 6px;
					z-index: 10;
				}
				.date-selects {
					display: flex;
					align-items: center;
					gap: 15px;
					width: 100%;
					[class='select-wr'] {
						overflow: hidden;
						background: url('/svg_icons/arrow.svg') no-repeat right;
						background-position-x: calc(100% - 20px);
						background-size: 12.5px;
						width: 100%;
					}
				}

				select {
					width: 100%;
					height: 44px;
					color: #ffffff;
					border-radius: 10px;
					border: solid 1px #ffffff;
					font-size: 16px;
					padding: 0 15px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					&:not([data-day]) {
						padding-right: 30px;
					}
					&::-webkit-scrollbar {
						width: 0;
					}
					option {
						color: black;
						background-color: white;
					}
				}
				input:-webkit-autofill,
				input:-webkit-autofill:hover,
				input:-webkit-autofill:focus,
				input:-webkit-autofill:active {
					-webkit-background-clip: text;
					-webkit-text-fill-color: #fff;
					transition: background-color 5000s ease-in-out 0s;
					box-shadow: inset 0 0 20px 20px transparent;
				}
				input,
				.input {
					width: 100%;
					height: 50px;
					outline: none;
					color: #ffffff;
					background: none;
					border-radius: 10px;
					border: solid 1px #ffffff;
					padding: 20px;
					font-size: 15px;
					font-weight: 400;
					&[name='tel'] {
						padding-left: 85px;
					}
				}
			}
			.cn {
				margin-top: 8px;
				a:hover {
					text-decoration: underline;
				}
			}
			button[type='submit'] {
				padding: 17px 90px 17px 90px;
				border-radius: 10px;
				background: #034078;
				border: none;
				color: #ffffff;
				font-size: 12px;
				&.subscribe_now {
					width: 100%;
					border-radius: 10px;
					font-size: 22px;
					font-weight: 400;
				}
			}
			.buttons {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;

				.sign_btn2 {
					font-size: 16px;
					font-weight: 500;
					line-height: 19.5px;

					color: #ffffff;
					background: none;
					border: none;
					border-bottom: solid #ffffff 1px;
				}
			}
		}
	}
}
