.choice_payment_cards {
	position: absolute;
	top: 30%;
	left: 0;
	z-index: 100;
	color: #f5f5f5;
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background: #15264c;
	padding: 4px;

	width: 240px;

	.loading,
	.error {
		text-align: center;
		font-size: 12px;
	}
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-height: 200px;
}

.card {
	border: 1px solid #1c2942;
	border-radius: 4px;
	padding: 8px;
	background: #142039;
	transition: all 0.25s;
}

.card_type {
	font-size: 12px;
	color: #bfc8e0;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.card_number {
	font-size: 14px;
	color: #f5f5f5;
}

.select_button {
	padding: 2px 6px;
	background: #0a84ff;
	color: #fff;
	border-radius: 3px;
	font-size: 12px;

	&:hover {
		background: #0066cc;
	}
}
