#AboutUs {
  padding: 50px;
  .aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;

    .aboutUs_text {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 20px;
      h1 {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 35px;
        color: #ffffff;
      }

      p {
        width: 50%;
        font-family: Montserrat;
        font-size: 16px;
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
      }
    }
    .aboutUs_img {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      gap: 10px;
      img {
        width: 50%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  #AboutUs {
    padding: 50px;
    .aboutUs {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 50px;

      .aboutUs_text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        h1 {
          font-family: Montserrat;
          font-size: 36px;
          font-weight: 700;
          line-height: 35px;
          color: #ffffff;
        }

        p {
          width: 80%;
          font-family: Montserrat;
          font-size: 16px;
          color: #ffffff;
          font-family: Montserrat;
          font-weight: 500;
          line-height: 20px;
          text-align: center;
        }
      }
      .aboutUs_img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        img {
          width: 80%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #AboutUs {
    padding: 50px;
    .aboutUs {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 50px;

      .aboutUs_text {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        h1 {
          font-family: Montserrat;
          font-size: 36px;
          font-weight: 700;
          line-height: 35px;
          color: #ffffff;
        }

        p {
          width: 80%;
          font-family: Montserrat;
          font-size: 14px;
          color: #ffffff;
          font-family: Montserrat;
          font-weight: 500;
          line-height: 20px;
          text-align: center;
        }
      }
      .aboutUs_img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        img {
          width: 80%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #AboutUs {
    .aboutUs {
      .aboutUs_text {
        gap: 20px;
        h1 {
          font-size: 30px;
        }

        p {
          width: 80%;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .aboutUs_img {
        img {
          width: 80%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #AboutUs {
    .aboutUs {
      .aboutUs_text {
        gap: 20px;
        h1 {
          font-size: 28px;
        }

        p {
          width: 80%;
          font-size: 12px;
          line-height: 20px;
        }
      }
      .aboutUs_img {
        img {
          width: 80%;
          height: 100%;
        }
      }
    }
  }
}
