#Home {
  padding: 50px;
  padding-top: 100px;

  .home {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home_text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        width: 90%;
        height: 120px;
        color: #ffffff;
      }
      p {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        width: 48%;
        height: 75px;
        color: #ffffff;
      }
    }
    .home_img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 500px;
      border-radius: 60%;
      border: none;
      animation: img 3s infinite;
      box-shadow: inset 1000px 0px 0px 0px #03407869,
        0px 0px 100px 100px #03407869;
      position: relative;

      .box {
        margin-bottom: 400px;
        animation: rgb 3s infinite;
        width: 15%;
        position: absolute;
      }
      .home_men {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: men 3s infinite;

        .box2 {
          width: 20%;
          margin-right: -120px;
          animation: rgb2 3s infinite;
        }

        .men {
          animation: rgbmen 3s infinite;
          width: 70%;
          margin-top: 0;
        }

        .box3 {
          width: 15%;
          margin-left: -50px;
          animation: rgb3 3s infinite;
        }
      }
      .box4 {
        width: 15%;
        margin-bottom: -300px;
        animation: rgb4 3s infinite;
        position: absolute;
      }
    }
  }
}

@keyframes rgb {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes rgb4 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes rgb2 {
  0% {
    margin-top: 120px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 120px;
  }
}

@keyframes rgb3 {
  0% {
    margin-top: 120px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 120px;
  }
}

@keyframes men11 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0px;
  }
}
