.breadcrumbs_container {
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 50px;
		li {
			&.last {
				color: #a5a5a5;
			}
			a {
				padding: 4px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.breadcrumbs_container {
		ul {
			padding-bottom: 10px;
			flex-wrap: wrap;
			gap: 5px;
		}
	}
}

@media (max-width: 700px) {
	.breadcrumbs_container {
		display: none;
	}
}
