.burger_menu {
	position: absolute;
	top: 89px;
	right: -300px;
	width: 270px;
	height: auto;
	border-radius: 20px 0 0 20px;

		border: 1px solid #1c2942;
	background-color: #0a1128;

	transition: 0.5s;
	color: white;

	&.active {
		right: 0px;
		color: white;
	}
}

.content {
	padding: 30px;
	.nav {
		color: white;

		ul {
			color: white;
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: center;

			a {
				text-decoration: none;
				font-size: 20px;
				color: white;
				padding: 3px;
			}
		}

		.buttons {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			gap: 5px;
			margin-top: 25px;
			&.no_auth {
				flex-direction: column;
				align-items: center;
				margin-top: 15px;
			}
			.profile {
				width: 120px;
				height: 40px;
				color: #ffffff;
				border-radius: 10px;
				border: 2px solid #034078;
			}
			.notify {
				width: 36px;
				height: 36px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				padding: 4px;
			}

			.subscribe {
				padding: 16px 40px;
				border-radius: 5px;
				color: #ffffff;
				background: #034078;
			}
			.btn {
				border-radius: 5px;
				color: #ffffff;
				background: none;
				border: none;
				font-size: 20px;
				padding: 4px;
			}
		}
	}
}
