.profile_layout {
	padding-bottom: 100px;
	.container {
		display: flex;
		align-items: flex-start;
		gap: 40px;
		div[class='base_page'] {
			width: 100%;
			h1 {
				font-size: 36px;
				font-weight: 700;
				line-height: 43.88px;
				margin-bottom: 33px;
			}
		}
	}
}

@media (max-width: 1130px) {
	.profile_layout .container {
		gap: 25px;
	}
}

@media (max-width: 960px) {
	.profile_layout .container {
		flex-direction: column;
		align-items: center;
		max-width: 90%;
		margin-top: 40px;
	}
}

@media (max-width: 700px) {
	.profile_layout .container {
		max-width: 95%;
		div[class='base_page'] h1 {
			font-size: 26px;
		}
	}
}

@media (max-width: 620px) and (min-width: 510px) {
	.profile_layout .container {
		max-width: 90%;
	}
}

@media (max-width: 360px) {
	.profile_layout .container div[class='base_page'] {
		h1 {
			font-size: 22px;
			margin-bottom: 12px;
		}
	}
}
