.commentList {
	display: flex;
	flex-direction: column;
	gap: 52px;
	max-width: 851px;
	width: 100%;
}

.commentItem {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	transition: all 0.25s;
	scroll-margin-top: 100px;
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	&.scroll {
		background: #142039;
	}
	@media (max-width: 550px) {
		gap: 13px;
	}
}

.commentItem figure {
	max-width: 80px;
	max-height: 80px;
	min-width: 80px;
	min-height: 80px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media (max-width: 950px) {
		max-width: 70px;
		max-height: 70px;
		min-width: 70px;
		min-height: 70px;
	}
	@media (max-width: 550px) {
		max-width: 45px;
		max-height: 45px;
		min-width: 45px;
		min-height: 45px;
	}
}
.sender {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-bottom: 10px;
	@media (max-width: 550px) {
		gap: 25px;
	}
	h4 {
		font-size: 20px;
		font-weight: 700;
		line-height: 24.38px;
		text-wrap: nowrap;
		@media (max-width: 550px) {
			font-size: 16px;
		}
	}
	span {
		font-size: 14px;
		font-weight: 400;
		line-height: 17.07px;
		color: rgba(144, 153, 163, 1);
		text-wrap: nowrap;
		@media (max-width: 550px) {
			font-size: 12px;
		}
	}
}
.content {
	font-size: 16px;
	font-weight: 500;
	line-height: 19.5px;
	.id {
		color: rgba(3, 71, 129, 1);
		font-size: 16px;
		&:hover {
			text-decoration: underline;
		}
	}
}
._content {
	max-width: 566px;
	width: 100%;

	.row {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		margin-top: 15px;
	}
}

.reply,
.showMore {
	font-size: 14px;
	font-weight: 400;
	line-height: 17.07px;
	color: rgba(144, 153, 163, 1);
	&:hover {
		text-decoration: underline;
	}
}
.commentItem.reply_to {
	figure {
		min-width: 42px;
		max-width: 42px;
		min-height: 42px;
		max-height: 42px;
	}
}

.replies {
	margin-top: 50px;
}
