#Courses {
  padding-top: 150px;
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .courses_text {
      h1 {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 35px;
        color: #ffffff;
      }
    }
   
    .courses_button {
      button {
        padding: 16px 61px 15px 61px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        border-radius: 5px;
        color: #ffffff;
        background: #043c71;
        border: none;
        transition: all 0.3s;
      }
      button:hover {
        background: #0455a0;
        transform: scale(1.05);
        transition: all 0.3s;
      }
    }
  }
}
