.breadcrumbs_container {
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		padding: 50px 0;
		li {
			color: white;
			a {
				padding: 4px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
