#Subscribe {
  padding: 50px;
  padding-top: 100px;

  .subscribe {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
    border-radius: 10px;
    .subscribe_text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      h2 {
        width: 100%;
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        line-height: 34.13px;
        color: #000000;
      }
      p {
        width: 80%;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #000000;
      }
    }
    .subscribe_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      button {
        background: #034078;
        color: #ffffff;
        border-radius: 5px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: center;
        padding: 10px 30px;
        border: none;
        transition: all 0.3s;
      }
      button:hover {
        background: #0455a0;
        transform: scale(1.05);
        transition: all 0.3s;
      }
      a {
        width: 184px;
        height: 18px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: center;
        color: #767676;
        transition: all 0.3s;
      }
      a:hover {
        color: #4d4c4c;
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: 1100px) {
  #Subscribe {
    padding: 50px;
    padding-top: 100px;

    .subscribe {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 50px 70px;
      border-radius: 10px;
      .subscribe_text {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        h2 {
          width: 350px;
          font-size: 28px;
          line-height: 34.13px;
        }
        p {
          width: 80%;
          height: 56px;
          font-size: 16px;
          line-height: 19.5px;
        }
      }
      .subscribe_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        button {
          border-radius: 5px;
          font-size: 16px;
          line-height: 19.5px;
          padding: 10px 30px;
        }
        a {
          width: 184px;
          height: 18px;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.5px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #Subscribe {
    padding: 50px;
    padding-top: 100px;

    .subscribe {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;

      padding: 50px 70px;
      border-radius: 10px;
      .subscribe_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h2 {
          width: 350px;
          font-size: 28px;
          line-height: 34.13px;
        }
        p {
          width: 350px;
          height: 56px;
          font-size: 16px;
          line-height: 19.5px;
        }
      }
      .subscribe_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        gap: 20px;
        button {
          font-size: 16px;
          font-weight: 500;
          line-height: 19.5px;
          padding: 20px 61px;
        }
        a {
          width: 184px;
          height: 18px;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.5px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #Subscribe {
    padding: 50px;
    padding-top: 100px;

    .subscribe {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;
      padding: 50px 50px;
      border-radius: 10px;
      .subscribe_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h2 {
          // width: 300px;
          width: 100%;
          font-size: 25px;
          line-height: 25px;
        }
        p {
          // width: 300px;
          width: 100%;
          height: 56px;
          font-size: 16px;
          line-height: 15px;
        }
      }
      .subscribe_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 20px;
        button {
          font-size: 16px;
          font-weight: 500;
          line-height: 19.5px;
          width: 100%;
          padding: 20px 10px;
        }
        a {
          width: 100%;
          height: 18px;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.5px;
        }
      }
    }
  }
}
