#Left {
	padding: 50px;
	padding-top: 100px;
	.left {
		display: flex;
		justify-content: space-between;
		.left_img {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 30px;
			h1 {
				width: 270px;
				height: 90px;
				font-family: Montserrat;
				font-size: 48px;
				font-weight: 700;
				line-height: 45px;
				color: #ffffff;
			}
		}

		.accordion {
			width: 100%;
			max-width: 600px;

			.accordionItem {
				border-bottom: 1px solid #2a2f3c;

				.accordionHeader {
					width: 100%;
					background: none;
					border: none;
					padding: 15px 0;
					color: #ffffff;
					font-size: 18px;
					font-weight: 500;
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;

					&:hover {
						color: #3498db;
					}
					span {
						text-align: left;
					}

					.icon {
						font-size: 16px;
						color: #3498db;
						transition: transform 0.3s;
					}
				}

				.accordionContent {
					transition: max-height 0.3s ease, padding 0.3s ease;

					p {
						padding: 0 0 15px;
						font-size: 16px;
						color: #d1d3d8;
					}
				}
			}
		}
	}
}
