#Part {
  padding: 50px;
  padding-top: 150px;
  .part {
    display: flex;
    flex-direction: column;
    gap: 50px;
    h1 {
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 700;
      line-height: 43.88px;
      width: 668px;
    }
    p {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 24.38px;
    }

    h2 {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 600;
      line-height: 24.38px;
      width: 641px;
    }

    h3 {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 24.38px;
    }

    h4 {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 600;
      line-height: 24.38px;
    }

    .part_text {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .part_block {
      display: flex;
      justify-content: space-between;
      align-items: start;

      .box {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;

        button {
          padding: 25px 75px 25px 75px;
          border-radius: 10px;
          color: #ffffff;
          border: 1px solid #044076;
          transition: all 0.3s;
        }
        button:hover {
          background: #0455a0;
          transform: scale(1.05);
          transition: all 0.3s;
        }
      }
      .aboutmaster_box2 {
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 60px;
      }
    }
  }
}
