#Header {
	position: fixed;
	width: 100%;
	padding-block: 20px;
	background: rgba(31, 31, 31, 0);
	backdrop-filter: blur(10px);
  z-index: 80;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.teg {
			display: flex;
			align-items: center;
			gap: 20px;

			a {
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				line-height: 18.29px;
				color: #ffffff;
			}
		}
		.header_button {
			display: flex;

			button {
				padding: 16px 60px;
				border-radius: 5px;
				color: #ffffff;
				background: #034078;
				border: none;
			}
			.btn {
				border-radius: 5px;
				color: #ffffff;
				background: none;
				border: none;
			}
		}
	}
}
